.shopping {
  padding: 3rem 2rem 4rem;
  background-color: #fffdfc;
  overflow-y: auto;
  height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  border-left: 1px solid #eee;
}

.heading-2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #d38212;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.shopping_list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 0;
  overflow-y: auto;
}

.shopping_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
  border-bottom: 1px solid #f2efee;
  font-size: 1.4rem;
  color: #333;
}

.shopping_delete {
  background: none;
  border: none;
  cursor: pointer;
  color: #c0392b;
  font-size: 1.6rem;
}

.copyright {
  color: #968b87;
  font-size: 1.2rem;
  margin-top: auto;
  text-align: center;
  padding-top: 2rem;
}

